.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

main {
  flex: 1;
}

footer {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}